{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for task in tasks %}
<li class="list-group-item">
    <a href="" class="title_size">{{ task.title }}</a>
    <br><span>{{ task.description }}</span>
    <br><span class="created_at">Создано в: {{ task.created_at }}</span>
    <br><span class="completed_at">Выполнено в: {{ task.completed_at }}</span>

    <form action="{% url 'delete' task.id %}" class="d-inline" method="post">
    {% csrf_token %}
    <button type="submit" class="btn float-right">
        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
    </button>
    </form>

    <form action="{% url 'complete_task' task.id %}" class="d-inline" method="post">
    {% csrf_token %}
    <button type="submit" class="btn float-right">
        <i class="far fa-check-circle fa-lg text-success float-right"></i>
    </button>
    </form>
</li>
{% endfor %}
{% endblock %}